html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	cursor: pointer;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#editor {
	display: block;
    position: fixed;
    bottom: 0px;
    top: 50%;
    height: 50%;
    background: none repeat scroll 0% 0% #DDD;
    width: 100%;
    z-index: 100;
}

#editor textarea {
	width: 100%;
    height: 100%;
    display: block;
    background: none repeat scroll 0% 0% #CCC;
    border: medium none;
    padding: 2em;
    font-family: "Source Sans Pro";
    font-weight: 300;
    border-top: 2px solid #eee;
    overflow-y: scroll;
}

#sparkapp {
	margin: 10px 0 40px 0;
	position: relative;
}
#sparkapp input::-webkit-input-placeholder {
	font-style: italic;
}

#sparkapp input::-moz-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

#sparkapp header h1 {
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#sparkapp.expanded li.spark-item,
#sparkapp.editing li.spark-item {
	opacity: 0.5;
}

#sparkapp.expanded li.expanded,
#sparkapp.editing li.editing {
	opacity: 1;
	border: 1px solid #EDEDED;
	box-shadow: 2px 2px 2px #DDD
}

#new-spark,
.expanding-clone,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 20px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#new-spark {
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.02);
	z-index: 2;
	box-shadow: none;
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px dotted #adadad;
}
#spark-list {
	margin: 0 auto;
	list-style: none;
    width: 80%;
    max-width: 950px;
}

#spark-list li.spark-item {
	position: relative;
	font-size: 20px;
	padding: 1em;
	margin-bottom: 2em;
	line-height: 28px;
}

#spark-list li.spark-item .edit-action,
#spark-list li.spark-item .expand-action {
	display: none;
}

#spark-list li.spark-item.editing .edit-action,
#spark-list li.spark-item.expanded .expand-action {
	display: inline-block;
}


#spark-list li.spark-item:last-child {
	border-bottom: none;
}

#spark-list li.spark-item.editing .edit {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    resize: none;,
    overflow: auto;
    padding-right: 90px;
}

#spark-list li.spark-item.editing .expanding-clone {
    display: block;
    border: 0 solid;
    visibility: hidden;
    word-wrap: normal;
    white-space: pre-wrap;
    min-height: 3em;
    padding-right: 90px;
}


#spark-list li.spark-item span.when {
	color: #ccc;
	font-size: 15px;
}

#spark-list li.spark-item p.spark {
	word-break: break-word;
	display: block;
	line-height: 1.2;
	overflow: hidden;
	margin-top: 0;
	height: 1.2em;
    padding-right: 90px;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

#spark-list li.spark-item.expanded p {
	height: auto;
}

#spark-list li.spark-item .edit,
#spark-list li.spark-item .expanding-clone {
	display: none;
}

#spark-list li.spark-item .actions,
#spark-list li.spark-item.editing.expanded .actions {
	display: none;
}

#startNew {
	display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;
    background: white;
    z-index: 100;
}

#editor .actions,
#spark-list li.spark-item.expanded .actions {
	display: block;
	position: absolute;
	padding: 0.5em;
	top: -8px;
	right: 5px;
	background: none repeat scroll 0% 0% #CCC;
	color: #ededed;
}


#spark-list li.spark-item.editing:last-child {
	margin-bottom: -1px;
}

#footer {
	color: #777;
	padding: 0 15px;
	position: absolute;
	right: 0;
	bottom: -31px;
	left: 0;
	height: 20px;
	z-index: 1;
	text-align: center;
}

#footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 31px;
	left: 0;
	height: 50px;
	z-index: -1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
				0 6px 0 -3px rgba(255, 255, 255, 0.8),
				0 7px 1px -3px rgba(0, 0, 0, 0.3),
				0 43px 0 -6px rgba(255, 255, 255, 0.8),
				0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

#info {
	margin: 65px auto 0;
	color: #a6a6a6;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
}

#info a {
	color: inherit;
}


.hidden {
	display: none;
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px dashed #C5C5C5;
	border-bottom: 1px dashed #F7F7F7;
}
